In [1]:
DROP DATABASE if exists SkiSchool

In [2]:
Create DATABASE SkiSchool

In [3]:
USE SkiSchool

In [4]:
CREATE TABLE Equipment (
    id INT PRIMARY KEY,
    brand VARCHAR(255),
    price DECIMAL(10,2)
);

In [5]:
CREATE TABLE Ski (
    id INT PRIMARY KEY,
    length INT,
    radius INT,
    FOREIGN KEY (id) REFERENCES Equipment(id)
);

In [6]:
CREATE TABLE Boots (
    id INT PRIMARY KEY,
    flex VARCHAR(255),
    size INT,
    FOREIGN KEY (id) REFERENCES Equipment(id)
);

In [7]:
CREATE TABLE Poles (
    id INT PRIMARY KEY,
    length INT,
    material VARCHAR(255),
    FOREIGN KEY (id) REFERENCES Equipment(id)
);

In [8]:
CREATE TABLE SkillLevel (
    id INT PRIMARY KEY,
    description TEXT
);

In [9]:
CREATE TABLE Customer (
    id INT PRIMARY KEY,
    firstName VARCHAR(255),
    lastName VARCHAR(255),
    email VARCHAR(255),
    phoneNr VARCHAR(50),
    nationality VARCHAR(100),
    skillId INT,
    FOREIGN KEY (skillId) REFERENCES SkillLevel(id)
);

In [10]:
CREATE TABLE Instructors (
    id INT PRIMARY KEY,
    firstName VARCHAR(255),
    lastName VARCHAR(255),
    email VARCHAR(255),
    phoneNr VARCHAR(50),
    nationality VARCHAR(100),
    salary DECIMAL,
    yearsExperience INT
);

In [11]:
CREATE TABLE GroupTable ( -- Group alone is a keyword
    id INT PRIMARY KEY,
    name varchar(100)
);

In [12]:
CREATE TABLE GroupCustomer (
    id INT PRIMARY KEY, 
    groupId INT, 
    customerId INT, 
    FOREIGN KEY (groupId) REFERENCES GroupTable(id),
    FOREIGN KEY (customerId) REFERENCES Customer(id)
);

In [13]:
CREATE TABLE Conditions (
    id INT PRIMARY KEY,
    weatherCondition VARCHAR(255),
    snowCondition VARCHAR(255)
);

In [14]:
CREATE TABLE Mountain (
    id INT PRIMARY KEY,
    skillId INT,
    name VARCHAR(255),
    height DECIMAL,
    FOREIGN KEY (skillId) REFERENCES SkillLevel(id)
);

In [15]:
CREATE TABLE Lesson (
    id INT PRIMARY KEY,
    groupId INT,
    instructorId INT,
    conditionId INT,
    mountainId INT,
    date DATE,
    skillId INT,
    pricePerPerson DECIMAL(10, 2),
    FOREIGN KEY (skillId) REFERENCES SkillLevel(id),
    FOREIGN KEY (groupId) REFERENCES GroupTable(id),
    FOREIGN KEY (instructorId) REFERENCES Instructors(id),
    FOREIGN KEY (conditionId) REFERENCES Conditions(id),
    FOREIGN KEY (mountainId) REFERENCES Mountain(id)
);

In [16]:
CREATE TABLE Rent (
    id INT PRIMARY KEY,
    customerId INT,
    date DATE,
    FOREIGN KEY (customerId) REFERENCES Customer(id)
);

In [17]:
CREATE TABLE RentalItem (
    id INT PRIMARY KEY,
    rentId INT,
    equipmentId INT,
    FOREIGN KEY (rentId) REFERENCES Rent(id),
    FOREIGN KEY (equipmentId) REFERENCES Equipment(id)
);

In [18]:
INSERT INTO SkillLevel (id, description)
VALUES
(1, 'Beginner'),
(2, 'Intermediate'),
(3, 'Advanced')

In [19]:
INSERT INTO Customer (id, firstName, lastName, email, phoneNr, nationality, skillId) VALUES
(1, 'Max', 'Müller', 'max.mueller@gmail.com', '+49 170 1234567', 'Germany', 1),
(2, 'Anna', 'Schmidt', 'anna.schmidt@web.de', '+49 170 2345678', 'Germany', 2),
(3, 'Felix', 'Weber', 'felix.weber@web.de', '+49 170 3456789', 'Germany', 3),
(4, 'Lena', 'Klein', 'lena.klein@yahoo.de', '+49 170 4567890', 'Germany', 1),
(5, 'Paul', 'Schneider', 'paul.schneider@gmx.de', '+49 170 5678901', 'Germany', 2),
(6, 'Sophie', 'Fischer', 'sophie.fischer@gmail.com', '+49 170 6789012', 'Germany', 3),
(7, 'Tim', 'Meyer', 'tim.meyer@web.de', '+49 170 7890123', 'Germany', 1),
(8, 'Julia', 'Becker', 'julia.becker@web.de', '+49 170 8901234', 'Germany', 2),
(9, 'Lukas', 'Hoffmann', 'lukas.hoffmann@gmx.de', '+49 170 9012345', 'Germany', 3),
(10, 'Clara', 'Bauer', 'clara.bauer@web.de', '+49 170 0123456', 'Germany', 1),

(11, 'Johan', 'Jansen', 'johan.jansen@example.com', '+31 6 12345678', 'Netherlands', 2),
(12, 'Mieke', 'de Vries', 'mieke.devries@gmail.com', '+31 6 23456789', 'Netherlands', 3),
(13, 'Daan', 'Hendriks', 'daan.hendriks@gmail.com', '+31 6 34567890', 'Netherlands', 1),
(14, 'Sophie', 'Bakker', 'sophie.bakker@example.com', '+31 6 45678901', 'Netherlands', 2),
(15, 'Niels', 'Peters', 'niels.peters@outlook.com', '+31 6 56789012', 'Netherlands', 3),
(16, 'Emma', 'Van Dijk', 'emma.vandijk@example.com', '+31 6 67890123', 'Netherlands', 1),
(17, 'Lotte', 'Meyer', 'lotte.meyer@web.nl', '+31 6 78901234', 'Netherlands', 2),
(18, 'Lucas', 'Janssen', 'lucas.janssen@outlook.com', '+31 6 89012345', 'Netherlands', 3),
(19, 'Eva', 'Koster', 'eva.koster@gmail.com', '+31 6 90123456', 'Netherlands', 1),
(20, 'Bas', 'Smit', 'bas.smit@web.nl', '+31 6 01234567', 'Netherlands', 2),

(21, 'James', 'Smith', 'james.smith@outlook.com', '+44 7911 123456', 'UK', 1),
(22, 'Emily', 'Johnson', 'emily.johnson@gmail.com', '+44 7911 234567', 'UK', 2),
(23, 'George', 'Williams', 'george.williams@outlook.com', '+44 7911 345678', 'UK', 3),
(24, 'Olivia', 'Brown', 'olivia.brown@outlook.com', '+44 7911 456789', 'UK', 1),
(25, 'Jacob', 'Jones', 'jacob.jones@gmail.com', '+44 7911 567890', 'UK', 2),
(26, 'Isla', 'Taylor', 'isla.taylor@outlook.com', '+44 7911 678901', 'UK', 3),
(27, 'Harry', 'Davis', 'harry.davis@outlook.com', '+44 7911 789012', 'UK', 1),
(28, 'Amelia', 'Miller', 'amelia.miller@gmail.com', '+44 7911 890123', 'UK', 2),
(29, 'Jack', 'Wilson', 'jack.wilson@outlook.com', '+44 7911 901234', 'UK', 3),
(30, 'Sophia', 'Moore', 'sophia.moore@gmail.com', '+44 7911 012345', 'UK', 1),

(31, 'Jakub', 'Nowak', 'jakub.nowak@wp.pl', '+48 600 123456', 'Poland', 2),
(32, 'Agnieszka', 'Kowalska', 'agnieszka.kowalska@onet.pl', '+48 600 234567', 'Poland', 3),
(33, 'Piotr', 'Wójcik', 'piotr.wojcik@gmail.com', '+48 600 345678', 'Poland', 1),
(34, 'Kasia', 'Mazur', 'kasia.mazur@wp.pl', '+48 600 456789', 'Poland', 2),
(35, 'Michał', 'Lewandowski', 'michal.lewandowski@gmail.com', '+48 600 567890', 'Poland', 3),
(36, 'Monika', 'Zawisza', 'monika.zawisza@onet.pl', '+48 600 678901', 'Poland', 1),
(37, 'Marcin', 'Kwiatkowski', 'marcin.kwiatkowski@gmail.com', '+48 600 789012', 'Poland', 2),
(38, 'Ewa', 'Jankowska', 'ewa.jankowska@wp.pl', '+48 600 890123', 'Poland', 3),
(39, 'Tomasz', 'Szymański', 'tomasz.szymanski@onet.pl', '+48 600 901234', 'Poland', 1),
(40, 'Natalia', 'Dąbrowska', 'natalia.dabrowska@wp.pl', '+48 600 012345', 'Poland', 2);

In [20]:
INSERT INTO Instructors (id, firstName, lastName, email, phoneNr, nationality, salary, yearsExperience)
VALUES
(1, 'Lukas', 'Gruber', 'lukas.gruber@aon.at', '+43 664 1234567', 'Austria', 3500, 5),
(2, 'Anna', 'Fischer', 'anna.fischer@aon.at', '+43 664 2345678', 'Austria', 4000, 8),
(3, 'Thomas', 'Schwarz', 'thomas.schwarz@aon.at', '+43 664 3456789', 'Austria', 3800, 6),
(4, 'Eva', 'Klein', 'eva.klein@aon.at', '+43 664 4567890', 'Austria', 4200, 7),
(5, 'Niklas', 'Huber', 'niklas.huber@aon.at', '+43 664 5678901', 'Austria', 4300, 9),
(6, 'Sarah', 'Müller', 'sarah.mueller@aon.at', '+43 664 6789012', 'Austria', 3900, 5),
(7, 'Florian', 'Bauer', 'florian.bauer@aon.at', '+43 664 7890123', 'Austria', 4600, 10),
(8, 'Lena', 'Lehmann', 'lena.lehmann@aon.at', '+43 664 8901234', 'Austria', 4100, 7),
(9, 'Matthias', 'Weber', 'matthias.weber@aon.at', '+43 664 9012345', 'Austria', 4400, 8),
(10, 'Clara', 'Wagner', 'clara.wagner@aon.at', '+43 664 0123456', 'Austria', 4500, 9);

In [21]:
INSERT INTO GroupTable (ID, name)
VALUES
(1, 'Group 1'),
(2, 'Group 2'),
(3, 'Group 3'),
(4, 'Group 4'),
(5, 'Group 5'),
(6, 'Group 6'),
(7, 'Group 7'),
(8, 'Group 8');

In [22]:
INSERT INTO GroupCustomer (id, groupId, customerId) VALUES
(1, 1, 1),  -- Max Müller
(2, 1, 5),  -- Paul Schneider
(3, 1, 10), -- Clara Bauer
(4, 1, 12), -- Mieke de Vries
(5, 1, 19), -- Bas Smit

(6, 2, 2),  -- Anna Schmidt
(7, 2, 6),  -- Sophie Fischer
(8, 2, 13), -- Daan Hendriks
(9, 2, 16), -- Emma Van Dijk
(10, 2, 25), -- Jacob Jones

(11, 3, 3),  -- Felix Weber
(12, 3, 4),  -- Lena Klein
(13, 3, 8),  -- Julia Becker
(14, 3, 20), -- Eva Koster
(15, 3, 28), -- Amelia Miller

(16, 4, 7),  -- Tim Meyer
(17, 4, 11), -- Johan Jansen
(18, 4, 14), -- Sophie Bakker
(19, 4, 18), -- Lucas Janssen
(20, 4, 29), -- Jack Wilson

(21, 5, 9),  -- Lukas Hoffmann
(22, 5, 12), -- Mieke de Vries
(23, 5, 17), -- Lotte Meyer
(24, 5, 21), -- James Smith
(25, 5, 22), -- Emily Johnson

(26, 6, 14), -- Sophie Bakker
(27, 6, 16), -- Emma Van Dijk
(28, 6, 23), -- George Williams
(29, 6, 27), -- Harry Davis
(30, 6, 30), -- Sophia Moore

(31, 7, 19), -- Bas Smit
(32, 7, 26), -- Isla Taylor
(33, 7, 31), -- Jakub Nowak
(34, 7, 34), -- Kasia Mazur
(35, 7, 38), -- Ewa Jankowska

(36, 8, 5),  -- Paul Schneider
(37, 8, 6),  -- Sophie Fischer
(38, 8, 13), -- Daan Hendriks
(39, 8, 35), -- Michał Lewandowski
(40, 8, 40); -- Natalia Dąbrowska

In [23]:
INSERT INTO Mountain (id, skillId, name, height)
VALUES
(1, 1, 'Schatzberg', 1898),
(2, 2, 'Hartkaiser', 1555),
(3, 3, 'Hohe Salve', 1829),
(4, 1, 'Kundler Schibiche', 584),
(5, 2, 'Gamskogel', 2813),
(6, 3, 'Hahnenkamm', 1712),
(7, 1, 'Giggijoch', 2275),
(8, 2, 'Gaislachkogel', 3040),
(9, 3, 'Rettenbachferner', 3350)

In [24]:
INSERT INTO Conditions (id, weatherCondition, snowCondition)
VALUES
(1, 'Sunny', 'Fresh Powder'),
(2, 'Sunny', 'Icy'),
(3, 'Sunny', 'Slushy'),
(4, 'Cloudy', 'Fresh Powder'),
(5, 'Cloudy', 'Icy'),
(6, 'Cloudy', 'Slushy'),
(7, 'Snowfall', 'Fresh Powder'),
(8, 'Snowfall', 'Icy'),
(9, 'Snowfall', 'Slushy');

In [25]:
INSERT INTO Equipment (id, brand, price) VALUES
-- SKI 
(1, 'Fischer', 500),
(2, 'Head', 550),
(3, 'Atomic', 600),
(4, 'Rossignol', 450),
(5, 'Nordica', 650),
(6, 'Blizzard', 700),
(7, 'Fischer', 480),
(8, 'Head', 530),
(9, 'Atomic', 620),
(10, 'Rossignol', 460),
(11, 'Nordica', 680),
(12, 'Blizzard', 710),
(13, 'Fischer', 510),
(14, 'Head', 590),
(15, 'Atomic', 640),

-- POLES
(16, 'Fischer', 40),
(17, 'Head', 60),
(18, 'Atomic', 45),
(19, 'Rossignol', 55),
(20, 'Nordica', 50),
(21, 'Blizzard', 70),
(22, 'Fischer', 42),
(23, 'Head', 62),
(24, 'Atomic', 47),
(25, 'Rossignol', 57),
(26, 'Nordica', 52),
(27, 'Blizzard', 72),
(28, 'Fischer', 43),
(29, 'Head', 64),
(30, 'Atomic', 49),

-- BOOTS
(31, 'Fischer', 300),
(32, 'Head', 350),
(33, 'Atomic', 280),
(34, 'Rossignol', 320),
(35, 'Nordica', 380),
(36, 'Blizzard', 250),
(37, 'Fischer', 310),
(38, 'Head', 360),
(39, 'Atomic', 290),
(40, 'Rossignol', 330),
(41, 'Nordica', 390),
(42, 'Blizzard', 270),
(43, 'Fischer', 315),
(44, 'Head', 370),
(45, 'Atomic', 300);

In [26]:
INSERT INTO Ski (id, length, radius) VALUES
(1, 170, 15),
(2, 175, 16),
(3, 180, 17),
(4, 165, 14),
(5, 185, 18),
(6, 190, 19),
(7, 168, 13),
(8, 176, 15),
(9, 182, 17),
(10, 160, 14),
(11, 186, 18),
(12, 192, 19),
(13, 174, 16),
(14, 178, 17),
(15, 184, 18);

In [27]:
INSERT INTO Poles (id, length, material) VALUES
(16, 130, 'Aluminum'),
(17, 135, 'Carbon'),
(18, 140, 'Aluminum'),
(19, 125, 'Carbon'),
(20, 150, 'Aluminum'),
(21, 155, 'Carbon'),
(22, 132, 'Aluminum'),
(23, 137, 'Carbon'),
(24, 142, 'Aluminum'),
(25, 128, 'Carbon'),
(26, 152, 'Aluminum'),
(27, 157, 'Carbon'),
(28, 133, 'Aluminum'),
(29, 138, 'Carbon'),
(30, 143, 'Aluminum');

In [28]:
INSERT INTO Boots (id, flex, size) VALUES
(31, 'Medium', 42),
(32, 'Soft', 43),
(33, 'Stiff', 44),
(34, 'Stiff', 41),
(35, 'Medium', 46),
(36, 'Soft', 40),
(37, 'Soft', 45),
(38, 'Medium', 44),
(39, 'Soft', 42),
(40, 'Stiff', 43),
(41, 'Soft', 47),
(42, 'Medium', 41),
(43, 'Stiff', 46),
(44, 'Soft', 45),
(45, 'Medium', 44);

In [29]:
INSERT INTO Rent (id, customerId, date) VALUES
(1, 1, '2025-12-01'),
(2, 5, '2025-12-01'),
(3, 10, '2025-12-01'),
(4, 12, '2025-12-01'),
(5, 19, '2025-12-01'),
(6, 2, '2025-12-01'),
(7, 6, '2025-12-01'),
(8, 13, '2025-12-01'),
(9, 16, '2025-12-01'),
(10, 25, '2025-12-01'),
(11, 2, '2025-12-02'),
(12, 6, '2025-12-02'),
(13, 13, '2025-12-02'),
(14, 16, '2025-12-02'),
(15, 25, '2025-12-02'),
(16, 3, '2025-12-02'),
(17, 7, '2025-12-02'),
(18, 14, '2025-12-02'),
(19, 18, '2025-12-02'),
(20, 29, '2025-12-02'),
(21, 3, '2025-12-03'),
(22, 4, '2025-12-03'),
(23, 8, '2025-12-03'),
(24, 20, '2025-12-03'),
(25, 28, '2025-12-03'),
(26, 9, '2025-12-03'),
(27, 12, '2025-12-03'),
(28, 17, '2025-12-03'),
(29, 21, '2025-12-03'),
(30, 22, '2025-12-03');

In [30]:
INSERT INTO RentalItem (id, rentId, equipmentId) VALUES
-- Rent 1: Boots only
(1, 1, 1),

-- Rent 2: Ski only
(2, 2, 2),

-- Rent 3: Ski + Boots
(3, 3, 3),
(4, 3, 33),

-- Rent 4: Poles only
(5, 4, 1),

-- Rent 5: Ski + Boots
(6, 5, 5),
(7, 5, 35),

-- Rent 6: Boots only
(8, 6, 36),

-- Rent 7: Ski only
(9, 7, 7),

-- Rent 8: Ski + Boots
(10, 8, 8),
(11, 8, 38),

-- Rent 9: Boots only
(12, 9, 39),

-- Rent 10: Ski + Boots
(13, 10, 10),
(14, 10, 40),

-- Rent 11: Ski only
(15, 11, 11),

-- Rent 12: Boots + Poles
(16, 12, 42),
(17, 12, 12),

-- Rent 13: Ski only
(18, 13, 13),

-- Rent 14: Boots only
(19, 14, 44),

-- Rent 15: Ski + Boots
(20, 15, 15),
(21, 15, 45),

-- Rent 16: Ski only
(22, 16, 6),

-- Rent 17: Boots only
(23, 17, 37),

-- Rent 18: Ski + Boots
(24, 18, 14),
(25, 18, 34),

-- Rent 19: Ski only
(26, 19, 9),

-- Rent 20: Boots only
(27, 20, 41),

-- Rent 21: Ski + Boots
(28, 21, 1),
(29, 21, 31),

-- Rent 22: Ski only
(30, 22, 2),

-- Rent 23: Boots only
(31, 23, 32),

-- Rent 24: Ski + Boots
(32, 24, 10),
(33, 24, 40),

-- Rent 25: Ski only
(34, 25, 5),

-- Rent 26: Boots only
(35, 26, 35),

-- Rent 27: Ski + Boots
(36, 27, 13),
(37, 27, 33),

-- Rent 28: Boots only
(38, 28, 38),

-- Rent 29: Ski only
(39, 29, 3),

-- Rent 30: Ski + Boots
(40, 30, 15),
(41, 30, 45);

In [31]:
INSERT INTO Lesson (id, groupId, instructorId, conditionId, mountainId, date, skillId, pricePerPerson) VALUES
(1, 1, 1, 1, 1, '2025-12-01', 1, 50.00),
(2, 2, 2, 2, 2, '2025-12-02', 2, 100.00),
(3, 3, 1, 3, 3, '2025-12-03', 3, 150.00),
(4, 4, 3, 4, 4, '2025-12-04', 1, 50.00),
(5, 5, 3, 5, 5, '2025-12-04', 2, 100.00),
(6, 6, 5, 6, 6, '2025-12-06', 3, 150.00),
(7, 7, 6, 7, 7, '2025-12-07', 1, 50.00),
(8, 8, 7, 8, 8, '2025-12-08', 2, 100.00),
(9, 1, 8, 9, 9, '2025-12-09', 3, 150.00),
(10, 2, 9, 1, 1, '2025-12-10', 1, 50.00),
(11, 3, 10, 2, 2, '2025-12-11', 2, 100.00),
(12, 4, 1, 3, 3, '2025-12-12', 3, 150.00),
(13, 5, 2, 4, 4, '2025-12-13', 1, 50.00),
(14, 6, 3, 5, 5, '2025-12-14', 2, 100.00),
(15, 7, 4, 6, 6, '2025-12-15', 3, 150.00),
(16, 8, 5, 7, 7, '2025-12-16', 1, 50.00),
(17, 1, 6, 8, 8, '2025-12-17', 2, 100.00),
(18, 2, 7, 9, 9, '2025-12-18', 3, 150.00);

<span style="color: rgb(0, 0, 0); font-family: Aptos, sans-serif; font-size: 12pt;"><b>Use case 1:&nbsp;</b></span> <span style="font-size: 16px;"><b>Retrieves all lessons taught by a specific instructor, including the skill level, mountain name, and lesson date.</b></span>

In [32]:
SELECT 
    SL.description AS skill_level,
    M.name AS mountain_name,
    L.date
FROM Lesson L
JOIN SkillLevel SL ON L.skillId = SL.id
JOIN Mountain M ON L.mountainId = M.id
JOIN Instructors I ON L.instructorId = I.id
WHERE I.firstName = 'Thomas'
  AND I.lastName  = 'Schwarz'
  AND L.date = '2025-12-03';

**Use case 2:** **Fetches all lessons a specific customer participated in, showing the mountain and lesson date.**

In [33]:
SELECT 
    M.name AS mountain_name,
    L.date
FROM Lesson L
JOIN GroupCustomer GC ON L.groupId = GC.groupId
JOIN Customer CU ON GC.customerId = CU.id
JOIN Mountain M ON L.mountainId = M.id
WHERE CU.firstName = 'Max'
  AND CU.lastName  = 'Müller'
  AND L.date = '2025-12-01';

mountain_name,date
Schatzberg,2025-12-01

**Use case 3: Equipment Manger wants to see** **how many skis are available for rent on a given date by excluding all skis already rented out.**

In [34]:
SELECT COUNT(*) AS available_skis
FROM Ski S
JOIN Equipment E ON S.id = E.id
WHERE NOT EXISTS (
    SELECT 1
    FROM RentalItem RI
    JOIN Rent R ON RI.rentId = R.id
    WHERE RI.equipmentId = E.id
      AND R.date = '2025-12-01'  -- das Datum, für das wir prüfen
);

available_skis
8

**Use case 4:** **Returns detailed information about an instructor, including first name, last name, salary, and years of experience.**

In [35]:
SELECT 
    firstName,
    lastName,
    salary,
    yearsExperience
FROM Instructors
WHERE firstName = 'Thomas'
  AND lastName  = 'Schwarz';

firstName,lastName,salary,yearsExperience
Thomas,Schwarz,3800,6

**Use case 5:** **Updates the salary of a specific instructor based on their first and last name.**

In [36]:
UPDATE Instructors
SET salary = 3800
WHERE firstName = 'Thomas'
  AND lastName  = 'Schwarz';

**Use case 6:** **Retrieves the weather and snow conditions for all lessons scheduled on a specific date.**

In [37]:
SELECT DISTINCT C.weatherCondition, C.snowCondition
FROM Lesson L
JOIN Conditions C ON L.conditionId = C.id
WHERE L.date = '2025-12-01';

weatherCondition,snowCondition
Sunny,Fresh Powder

**Use case 7:** **Returns the number of customers in a group for lessons of a given skill level on a specific date.**

In [38]:
SELECT 
    COUNT(GC.customerId) AS group_size
FROM Lesson L
JOIN SkillLevel SL ON L.skillId = SL.id
JOIN GroupCustomer GC ON L.groupId = GC.groupId
WHERE SL.description = 'Beginner'
  AND L.date = '2025-12-01';

group_size
5

**Use case 8:** **Aggregates customers by nationality and lists how many customers come from each country, ordered from most to least.**

In [39]:
SELECT 
    nationality,
    COUNT(*) AS number_of_customers
FROM Customer
GROUP BY nationality
ORDER BY number_of_customers DESC;

nationality,number_of_customers
Germany,10
Netherlands,10
UK,10
Poland,10

**Use case 9:** **Fetches all mountains that match a chosen skill level, including their names and heights.**

In [40]:
SELECT 
    M.name,
    M.height,
    SL.description
FROM Mountain M
JOIN SkillLevel SL ON M.skillId = SL.id
WHERE SL.description = 'Beginner';

name,height,description
Schatzberg,1898,Beginner
Kundler Schibiche,584,Beginner
Giggijoch,2275,Beginner

**Use case 10:** **Calculates the total revenue generated by a specific customer based on all lessons they participated in.**

In [41]:
SELECT SUM(L.pricePerPerson) AS total_revenue
FROM Lesson L
JOIN GroupCustomer GC ON L.groupId = GC.groupId
JOIN Customer C ON GC.customerId = C.id
WHERE C.firstName = 'Max'
  AND C.lastName  = 'Müller';

total_revenue
300.00